* {
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo a {
  display: inline-block;
  vertical-align: middle;
  color: #a5a5a5;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
  color: #a5a5a5;
}

.logo img {
  display: inline-block;
  vertical-align: middle;
}

.header ul {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  font-size: 0;
  width: calc(100% - 280px);
  text-align: right;
}

.header .content {
  border-bottom: 1px solid #ccc;
}

.header ul li {
  display: inline-block;
  vertical-align: middle;
}

.header ul li a {
  text-decoration: none;
  color: #565656;
  padding: 5px 15px;
  transition: all 0.3s ease;
  font-size: 16px;
  text-align: center;
}

.header ul li a:hover {
  color: #2981b7;
}

.cenz {
  display: block;
  position: relative;
}

.cenz::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  background-image: url(../img/18_plus.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 200px;
  cursor: pointer;
  width: 100%;
  border: 5px solid red;
}

@media all and (max-width: 767px) {
  .cenz::after {
    background-size: 30% auto;
  }
}

.cenz::after * {
  visibility: hidden;
}

.cenz-show::after {
  display: none;
}

h1 {
  display: block;
  width: auto;
  line-height: 1.2;
  color: rgb(10, 10, 10);
  font-size: 23px;
}

h2 {
  display: block;
  line-height: 1.2;
  color: rgb(10, 10, 10);
  font-size: 19px;
  margin-top: 25px;
}

h2.blue-line::after {
  content: "";
  margin-top: 12px;
  border-bottom: 4px solid rgb(22, 141, 226);
  display: block;
}

a {
  color: rgb(35, 82, 124);
  text-decoration: underline;
}

a:hover {
  color: rgb(176, 73, 59);
}

body {
  display: block;
  font-family: "Open Sans", sans-serif;
  background: rgb(250, 250, 250) none repeat scroll 0% 0%;
  height: auto;
  color: rgb(68, 68, 68);
  line-height: 1.5625;
  direction: rtl;
}

.header {
  display: block;
  width: 100%;
  background: transparent none repeat scroll 0% 0%;
  margin: 0px auto;
}

.content {
  display: block;
  width: 97%;
  max-width: 1000px;
  margin: 0px auto;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding: 25px 1.5%;
  position: relative;
}

.content-left {
  display: block;
}
.content a {
  font-weight: 600;
}

.content-left-doctor {
  display: block;
  width: 100%;
  background-color: rgb(226, 226, 226);
  padding: 1%;
  margin-top: 25px;
}

.content-left-doctor-foto {
  display: block;
  width: 25%;
  float: left;
  margin-right: 2%;
}

.content-left-doctor-foto img {
  width: 100%;
  display: block;
}

.content-left-doctor-text {
  display: block;
  width: 73%;
  float: right;
  padding: 3%;
}

.content-left-doctor::after {
  content: "";
  display: block;
  clear: both;
}

.content::after {
  content: "";
  display: block;
  clear: both;
}


@media screen and (max-width: 1199px) {
  .content-left {
    width: 100%;
    padding-right: 0px;
  }
}

@media screen and (max-width: 989px) {
  .content {
    max-width: 750px;
    padding: 3% 0;
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .content-left-doctor-foto {
    float: none;
    width: 100%;
  }

  .content-left-doctor-text {
    float: none;
    width: 100%;
    margin-top: 3%;
  }
}

@media all and (max-width: 1023px) {
  .header ul {
    display: none;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.figure {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
}

.figure img {
  display: block;
  width: 100%;
}

.figure figcaption {
  text-align: center;
}
blockquote {
  font-style: italic;
}
.center {
  text-align: center;
}

.questionario {
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  direction: ltr;
}

.question__text {
  display: block;
  text-align: center;
  font-weight: 600;
}

.question__body {
  text-align: right;
  direction: rtl;
}

.answers label {
  display: block;
  text-align: right;
  cursor: pointer;
}

.answers label.row-answer > input {
  display: inline-block;
  margin-right: 12px;
}

.like-table {
  position: relative;
  padding-top: 25px;
}

.like-table::before,
.like-table::after {
  display: block;
  position: absolute;
  top: 0;
  transform: translateX(50%);
}

.like-table::before {
  content: "نعم";
  left: 32px;

}
.like-table::after {
  content: "لا";
  left: 13px;
}

.answers-radio-row {
  font-size: 0;
  margin: 8px 0;
}

.answers-radio-row span,
.answers-radio-row input {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.answers-radio-row span {
  width: calc(100% - 60px);
}

.answers-radio-row input {
  width: 25px;
  margin: 0;
}

.answers-radio-row input + input {
  margin: 0 0 0 10px;
}

.question {
  opacity: 0;
  transition: all ease 0.3s;
  overflow: hidden;
  position: absolute;
  transform: translateX(200%);
  background-color: #fff;
}

.question--active {
  opacity: 1;
  max-width: 100%;
  max-height: 9999px;
  transform: translateX(0);
  position: relative;
}
.questionario__controls {
  text-align: center;
  padding: 5px 10px;
}
.questionario__btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background-color: #168de2;
  color: #ffffff;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 1000;
position: relative;
}

.questionario__loader,
.questionario__results {
  display: none;
}
.questionario__loader {
  width: 100%;
  padding: 15px;
}

.questionario__loader span {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  height: 15px;
  position: relative;
  overflow: hidden;
}

.questionario__loader span::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background-color: green;
  transform: translateX(-100%);
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transition: all ease-in-out 3s;
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@-moz-keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.questionario__results {
  padding: 15px;
  background-color: #ddd;
}

.questionario__results h2 {
  margin: 0 auto 15px;
}

.big-text {
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.6;
}

.questionario__prompt {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  background-color: #f8f8f8;
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.red {
  color: red;
}

.socials {
  display: block;
  width: 100%;
  padding: 0;
  background-color: #eeeeee;
  text-align: right;
}
.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  padding-left: 25px;
  position: relative;
}

.socials__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.socials__item--comments::before {
  background-image: url("../img/socials/chat.svg");
}
.socials__item--views::before {
  background-image: url("../img/socials/vision.svg");
}
.socials__item--likes::before {
  background-image: url("../img/socials/like.svg");
}
.socials__item--dislikes::before {
  background-image: url("../img/socials/dislike.svg");
}

blockquote {
  position: relative;
  padding: 45px 30px;
  margin: 20px auto;
  font-size: 22px;
  text-align: center;
}

blockquote::before,
blockquote::after {
  display: block;
  height: 65px;
  position: absolute;
  font-style: normal;
  font-size: 150px;
  line-height: 1;
  font-weight: 700;
  color: rgba(182, 0, 7, 0.2);
}

blockquote::before {
  content: "“";
  top: -20px;
  left: 0px;
}

blockquote::after {
  content: "”";
  bottom: -10px;
  right: 0px;
}

.avid {
  max-width: 100%;
}

@media all and (max-width: 767px) {
  .socials__item {
    font-size: 12px;
    padding-left: 15px;
  }
  .socials__item::before {
    width: 10px;
    height: 10px;
  }
}

.m-0-a-25 {
  margin: 0 auto 25px;
}

.fz25 {
  font-size: 25px;
}

.mw700 {
  max-width: 700px;
  margin: 20px auto;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  caption-side: bottom;
  width: 100%;
  min-width: 650px;
}

.table caption {
  margin: 10px auto;
}

.table th,
table td {
  border: 1px solid #000000;
  padding: 5px;
}

.table th {
  background-color: #cfcfcf;
}

.table .bg-green {
  background-color: #80e5a1;
}

.table .bg-yellow {
  background-color: #feff42;
}

.table .bg-red {
  background-color: #ff7575;
}

svg:not(:root) {
  overflow: hidden;
}
button {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html [type="button"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

svg {
  fill: currentColor;
  stroke: inherit;
}
.dropdown {
  position: relative;
}
.dropdown-container {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  z-index: 500;
  display: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-width: 100%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
:root {
  --percent-value: 0%;
}
.btn {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  font-weight: 500;
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Arial,
    sans-serif;
  box-sizing: border-box;
  white-space: nowrap;
}
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn:hover,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn:disabled {
  cursor: not-allowed;
}
.btn:link {
  text-decoration: none;
}
.btn:link:hover {
  text-decoration: none;
}
.btn:link:visited {
  color: inherit;
  text-decoration: none;
}
.btn:focus:hover,
.btn:focus:active {
  outline: 0;
}
.btn:disabled {
  cursor: not-allowed;
}
.icon-svg_arrow-up,
.icon-svg_arrow-down {
  color: inherit;
  font-size: 0;
  flex: 1;
}
.icon-svg_arrow-down {
  position: relative;
  transform: rotate(180deg);
}
.icon-svg_bookmark,
.icon-svg_views-count,
.icon-svg_post-comments,
.icon-svg_post-share {
  color: #bbcdd6;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
.icon-svg_post-comments {
  margin-bottom: -4px;
}
.icon-svg_post-share {
  padding-top: 8px;
}
.post-share__buttons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post-share__item_post:last-child {
  margin-bottom: 0;
}
.post-share__item-link {
  color: #111;
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 12px 20px;
}
.post-share__item-link:hover {
  background: #65a3be;
  color: #fff;
  text-decoration: none;
}
.Ñontent-list_top-users {
  margin: 4px 0 6px;
}
.Ñontent-list_invest-hubs {
  margin: 8px 0 12px;
}
@-moz-document url-prefix() {
}
.post-stats {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  height: 40px;
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Arial,
    sans-serif;
}
.post-stats__item {
  margin: 0;
}
.post-stats__item:first-child {
  margin-left: 0;
}
.post-stats__item_bookmark {
  margin-left: 20px;
}
.post-stats__item_views {
  margin-left: 20px;
}
.post-stats__item_comments,
.post-stats__item_share {
  margin-left: 20px;
  cursor: pointer;
}
.post-stats__views {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 12px;
}
.post-stats__views-count {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 13px;
  color: #548eaa;
  line-height: 16px;
  margin-left: 8px;
}
.post-stats__comments-link {
  padding: 0 12px;
  color: #548eaa;
  display: flex;
  align-items: center;
  height: 38px;
  text-decoration: none;
}
.post-stats__comments-link:hover {
  color: #487284;
}
.post-stats__comments-link:hover .icon-svg_post-comments {
  color: inherit;
}
.post-stats__share {
  cursor: pointer;
  padding: 0 12px;
  color: #548eaa;
  display: flex;
  align-items: center;
  height: 38px;
  text-decoration: none;
  outline: 0;
}
.post-stats__share:hover {
  color: #487284;
}
.post-stats__share:hover .icon-svg_post-share {
  color: inherit;
}
.post-stats__comments-count,
.post-stats__comments-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 13px;
  color: inherit;
  line-height: 16px;
  margin-left: 8px;
}
.voting-wjt {
  padding: 0;
  display: flex;
  align-items: center;
}
.voting-wjt_post {
  height: 38px;
}
.voting-wjt__button {
  width: 34px;
  height: auto;
  text-align: center;
  padding: 0;
  margin: 0;
  flex: none;
  color: #bbcdd6;
  font-size: 0;
  display: flex;
}
.voting-wjt__button:hover {
  color: #487284;
}
.voting-wjt__button:disabled:hover {
  color: #bbcdd6;
}
.voting-wjt__counter {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 38px;
  font-weight: 700;
  font-size: 13px;
  color: #548eaa;
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Arial,
    sans-serif;
}
.voting-wjt__counter_positive {
  color: #6c9007;
}
.bookmark-btn {
  display: flex;
  align-items: center;
  padding: 0 0 0 12px;
  color: #aac7d6;
}
.bookmark-btn:hover .icon-svg_bookmark,
.bookmark-btn:hover .bookmark__counter {
  color: #487284;
}
.bookmark-btn_post {
  height: 40px;
}
.bookmark__counter {
  margin-left: 8px;
  width: 30px;
  color: #548eaa;
  text-align: left;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}
:root {
  --quickFade-time: 1.5s;
  --fade-time: 2s;
  --blur-time: 2s;
  --blur-amount: 0.088em;
}
.voting-wjt {
  padding: 0;
  display: flex;
  align-items: center;
}
.voting-wjt_post {
  height: 38px;
}
.voting-wjt__button {
  width: 34px;
  height: auto;
  text-align: center;
  padding: 0;
  margin: 0;
  flex: none;
  color: #bbcdd6;
  font-size: 0;
  display: flex;
}
.voting-wjt__button:hover {
  color: #487284;
}
.voting-wjt__button:disabled:hover {
  color: #bbcdd6;
}
.voting-wjt__counter {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 38px;
  font-weight: 700;
  font-size: 13px;
  color: #548eaa;
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Arial,
    sans-serif;
}
.voting-wjt__counter_positive {
  color: #6c9007;
}
.post-share {
  display: block;
  white-space: nowrap;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #e4e8ea;
  background-color: #fff;
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Arial,
    sans-serif;
  overflow: hidden;
}
.post-share__buttons {
  margin-left: auto;
}
.Ñm-editor__footer-checkbox {
  color: #464646;
  font-size: 13px;
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Arial,
    sans-serif;
}
.Ñm-editor__footer-checkbox input[disabled] + span {
  opacity: 0.5;
}
@media print {
  body {
    background: #fff;
  }
}

@media all and (max-width: 767px) {
  .post-stats__item {
    margin-left: 0 !important;
  }
  .table-wrapper {
    display: none;
  }
}

#mob-table {
  display: none;
}

.table-popup .table-wrapper {
  display: block;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  max-height: 95vh;
  max-width: 95%;
}

@media all and (max-width: 767px) {
  #mob-table {
    display: block;
  }
}

.table-popup {
  display: none;
  position: fixed;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-color: rgba(0, 0, 0, 0.5);
}

.table-popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.table-popup__close::before,
.table-popup__close::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #000000;
}

.table-popup__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.table-popup__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.bottom-btn-wrap {
  text-align: center;
}

.bottom-btn {
  display: inline-block;
  margin: 20px auto;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: #de0606;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  blockquote {
    padding: 45px 30px 32px;
  }
}